@charset "utf-8";
/* CSS Document */

body, ur, li {
	font-family: "美玉体";
	margin: 0;
	padding: 0;
	list-style: none;
}

.yx{
	width: 1280px;
	margin: 10px;
	padding: 10px;	
}

.yx .center{
	 text-align:center;
}

.yx .left{
	 text-align:left;
}
.left p{
	text-align: 2em;
}
