body{
    font-family: 幼圆;
}

#all{
    position: relative;
    margin: 0 auto;
    width: 1280px;
    height: 720px;
    background-image: url("../images/editor/background.jpg") ;
    background-repeat: no-repeat;
}
#editor{
    width: 450px;
    position: absolute;
    left: 450px;
    top: 20px;
    overflow: hidden;
    background-color:rgba(102,102,102,0.87);
    border-radius: 30px;
}

#editor #navigation{
    padding: 10px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    color: #0b5ca1;
    background-color: rgba(255,255,255,0.84);
}

#form {
    font-size:20px;
    font-weight: bold;
    margin: 10px 10px 0 10px;
    padding: 10px;
    line-height: 50px;
}


#form input{
    display: inline-block;
    width:300px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    height:35px;
    margin: 5px;
}

#form span{
    font-size: 10px;
    color: #FC1B1F;
}

#gender input{
    width: 15px;
}

input#button_editor{
    font-size: 20px;
    margin: 5px auto;
    display: block;
    width:300px;
    height: 40px;
    color: #ffffff;
    background-color:#1cb100;
}

input#button_editor:hover {
    cursor: pointer;
    opacity: 0.6;
}

input:focus{outline:none;}

#messages{
    color: #FC1B1F;
    font-size:15px;
    text-align: center;
}
